
.text {
  padding: 20px;
}

body {
  font-family: sans-serif;
  margin: 0 auto;
  background-color: white;
}

#main_photo {
  width: 100%;
  display: block;
  background-blend-mode: lighten;
  opacity: 0.6;
  	transition: opacity 0.5s ease;
}

/*header*/
nav li {
  display: inline;
  padding: 15px;
}

/* menu divider*/
#menu_div{
  width: 100%;
  height: 25px;
  z-index: 9;
  background-color: black;
  position: fixed;
  top: 0;
  float: right;
}

/*code from W3schools.com */
nav {
  /*position: fixed; */
  height: 60px;
  position: absolute;
  float: right;
  top: 0;
  width: 100%;
  background-color: black;

}


nav a {
  float: right;
  height: 10px;
  margin-right: 20px;
  display: block;
  color: #f2f2f2;
  background-color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

  font-weight: 100;

}

nav a:hover {
  color: white;
  font-weight: 700;

}



h1 {
  color: #3b5998;
  padding-top: 40px;
  margin-top: 20px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.home-page {
  color: #3b5998 !important;
  text-decoration: none;
  font-weight: 570;

}

.home-page:hover {
  color: #afbdd4 !important;
  text-decoration: none;
}

p, .projects {
  padding: 22px;
  background-color: #ffffff;
  border: 0.1px solid #afbdd4;
  line-height: 25px;

}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: #afbdd4;
}

a:active {
  color: #afbdd4;
  font-weight: bold;

}

figcaption {
  font-size: 13px;
  font-style: italic;
  color: gray;
  text-align: center;
}

#tagline {
  font-size: 35px;
  text-align: center;
  margin-top: 150px;
  color: black;

  padding-top: 0px;
  border: none;

}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  text-align: center;
  color: black;
  margin: 13% 0;
}

.trans {
  color: gray;
}

.link {
  color: black !important;
}

.small_img {
  width: 400px;
}

blockquote {
  font-style: italic;
  color: gray;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.sidebar {
  flex-grow: 1;
  width: 40%;
  height: 100%;
  margin-right: 10px;
  /*border: 0.1px solid #afbdd4 !important;*/

}

.highlights {
  font-weight: 100;
  line-height: 20px;
  padding-left: 5%;
  font-size: 13px;
}

.thin, p, li {
  font-weight: 100;
}

.regular {
  font-weight: 500;
}

.link-black {
  color: black !important;
  text-decoration: none;
}

.link-blue {
  color: #3b5998 !important;
  text-decoration: none;
}

.home {
  margin-left: 5%;
  margin-right: 5%;

}

#places {
  line-height: 19px;
}

.main_content {
  flex-grow: 7;
  width: 30px;
  height: 100%;
}

.no_bold {
  font-weight: normal;
}

.small_text {
  padding: 10px;
  line-height: 18px;
  font-size: 10px;
  background-color: white;
}

.sidebar_links {
  width: 180px;
  float: left;
  color: #afbdd4 !important;
  padding-right: 10px;
  margin: 10px;
  text-decoration: none;

}

.sidebar_links:hover {
  color: #3b5998 !important;
}

img {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
  display: block;
  margin-left: auto;
  margin-right: auto;

}

h3 {
  text-align: center;
}

.projects li {
  margin: 10px;
}

footer {
  align-content: center;
  padding-top: 32px;
  padding-bottom: 10px;
  font-weight: 100;
  text-align: center;
}

footer li {
  display: inline;

}

.icons-wrap a {
  float: left;
  height: 10px;
  display: block;
  text-align: center;
  text-decoration: none;
}

.icons-wrap {
  margin-left: 39%;
}

.icons{
  height: 20px;
  padding-bottom: 5px;
  padding-right: 17px;

}
