
/*header*/
nav li {
  display: inline;
  background-color: #8B008B;
  padding: 15px;

}



h1 {
  color: #3b5998;
  padding-top: 5px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

body {
  font-family: sans-serif;
  /* to center the body */
  margin: 0 auto;
  padding: 40px;
  background-color: white;
}


p {
  padding: 22px;
  background-color: #ffffff;
  border: 0.1px solid #afbdd4;

}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: #afbdd4;
}

a:active {
  color: #afbdd4;
}

figcaption {
  font-size: 13px;
  font-style: italic;
  color: gray;
}

#tagline {
  font-size: 15px;
  font-style: italic;
  color: gray;
  background-color: #EAEBEF;
  padding-top: 0px;
  border: none;

}
